@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #094067 !important;
    font-family: "Poppins", sans-serif;

}

nav {
  background-color: #fffffe;
  height: 70px;
  width: 100%;
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}

nav .Title h3 {
  color: #094067;
  font-size: 1.5rem !important;
  font-weight: 600;
  margin: 0 1rem;
}

.menu ul {
  display: flex;
  list-style: none;
  margin: 0rem 0;
}
ul li a {
  text-decoration: none;
  margin: 1rem 0;
  color: #094067;
  font-weight: 500;
  font-size: 1rem;
  padding: 1.6rem 6rem;
}

.active {
  background-color: #3da9fc;
  color: white;
}

main {
  height: 800px;
  background-color: #fffffe;
  display: flex;
  justify-content: center;
  margin: 2rem 4.5rem;
}

input:disabled {
  background-color: #e5e5e5;
}

/* table {
  border-collapse: collapse;
  width: 100%;
  margin: 1rem 0rem;
  border: #094067 2px solid;
} */

#graph {
  height: 100vh;
  background-color: #fffffe;
  display: flex;
  justify-content: center;
  margin: 2rem 4.5rem;
}

#graph h1{
    color: #094067;
    font-size: 1.5rem !important;
    font-weight: 600;
    margin: 0 1rem;
    justify-content: center;
    display: flex;
}

#graph canvas {
  width: 80% !important;
  height: 50% !important;
  display: flex;
    justify-content: center;
    margin: 2rem 5rem;
}
